<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Keras Digit Recogniser</title>
</head>

<body>
    <form action="/" method="POST" onsubmit="canvastoimage()">
        <input type="hidden" id="uri" name="uri">
        <canvas id="canvas" width=280 height=280></canvas>

        <div class="mx-auto">
            <button class="btn btn-success" id="predict" type="submit">Predict Class</button>
        </div>
    </form>

    <div class="mx-auto">
        <button class="btn btn-warning" id="save">Save to New Tab</button>
        <button class="btn btn-warning" id="clear">Clear Canvas</button>
    </div>

    <h2>Prediction result:
        {% if digit %}
        <p class="alert alert-success m-4 text-center">{{ digit }}</p>
        {% endif %}
    </h2>

    <script src="{{ url_for('static', path='/main.js') }}"></script>
</body>

</html>